@charset "UTF-8"; 
/* Der einzigste Wert den ihr ändern dürft (müsst) ist die Breite im Body, alles andere bleibt wie es ist */
/* Bevor ihr neue Elemente einfügt, fragt elro oder Manu */
/* matches  viewport dimensions in head of xhtml */
/* matches  viewport dimensions in head of xhtml */
body {
  width: 800px;
  height: 800px;
  margin: 0;
  background-image: url('../images/background.jpg');
}
html {
  font-family: "Gentium Basic", serif;
  font-weight: normal;
  font-size: 9pt;
  color: black;
  hyphens: auto;
}
p {
  font-family: "Gentium Basic", serif;
  font-size: 9pt;
  line-height: auto;
  text-align: left;
  margin-bottom: 0pt;
  letter-spacing: 0pt;
  word-spacing: 0pt;
  orphans: 2;
  widows: 2;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.footnote {
  float: footnote;
  font-size: 8pt;
  counter-increment: footnote;
  text-indent: 0;
  line-height: auto;
  word-wrap: break-word;
}
.footnote::footnote-marker {
  content: counter(footnote)'. ';
  font-size: 8pt;
  vertical-align: none;
  margin-right: 0pc;
}
.footnote::footnote-call {
  content: counter(footnote);
  font-size: 8pt;
  vertical-align: super;
  display: inline;
  line-height: 0;
}
/* break-before: page; */
section[data-type="chapter"] {
  counter-reset: footnote;
}
div.dup {
  display: none;
}
